[submodule "themes/hugo-sugoi"]
	path = themes/hugo-sugoi
	url = https://github.com/aanupam23/hugo-sugoi.git
[submodule "themes/vex-hugo"]
	path = themes/vex-hugo
	url = https://github.com/themefisher/vex-hugo.git
